src/pages/typo.pug
extends ../pug/layout.pug

block meta
  title Главная
block append head
  include ../blocks/cssincludes/cssincludes.pug

block content
  .center

    // H1
    h6.thistitle h111
    h1 Sensation Spa
    h1 Нехирургический  <br>RF лифтинг

    hr

    // H2
    h6.thistitle h2
    h2 Все наше внимание <br>посвящено вам

    hr

    // H5
    h6.thistitle h5
    h5 Услуги специалистов

    hr

    // H6
    h6.thistitle h6
    h6.transform-uppercase Два в одном: нехирургический RF <br>лифтинг и активация мышц

    hr

    // ЗАГОЛОВОК + АБЗАЦ
    h6.thistitle h6 + p
    h6.transform-uppercase Два в одном: нехирургический RF лифтинг и активация мышц
    p Аппарат Maximus объединяет электродинамическую активизацию мышц (DMA) и радиочастотную подтяжку кожи (TriPollar) лица и тела. Как лицо, так и тело под воздействием системы Maximus претерпевают массу положительных изменений. Жировая ткань и дерма разогреваются, подвергаясь липолитическому воздействию. Мышцы тела начинают активно волнообразно сокращаться.

    hr

    // ПРИМЕЧАНИЯ
    h6.thistitle .NOTE
    p.note Любой женщине <br>важно поддерживать <br>ногти в идеальном виде
    h6.thistitle .NOTE2
    p.note2 Каждая женщина мечтает нравиться <br>в первую очередь самой себе. Мы помогаем осуществить <br>это желание
    h6.thistitle .NOTE3
    p.note3 Наш центр косметологии <br>предлагает максимум для вашего <br>комфорта и отличного <br>настроения


    hr
    h6.thistitle .LIST
    ul.list
      li фракционная терапия, криотерапия, дермальное ремоделирование, криомоделирование, лифтинг, микротоковая терапия, эндермология, биостимуляция и др;
      li окрашивание, стрижки и укладки волос, биологические завивки и прически;
      li уходы за лицом (косметологические услуги), чистка лица и массажи, эпиляция воском;
      li безинъекционная биоревитализация, удаление рубцов и растяжек, работа с постакне, устранение морщин разной сложности;
      li хамам, флоатинг, тaлассотерапия, уход по телу, массаж;
      li аппаратный маникюр и педикюр, СПА маникюр.

block append page-bottom
  script.
    Perfetto.init({
      0:       'typo1',
      //- 768:   'i-2',
      //- 1024: 'i-3',
      //- 1280: 'service-4'
      //- 1280: 'i-4'
    })
  style.
    .thistitle {
      font-size:20px;
      color: #47C5CE;
      text-transform: uppercase
    }
    .center {
    max-width: 1400px;
    margin: 0 auto;
    }

src/typo.html
<!DOCTYPE html>
<html class="no-js " lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <meta content="notranslate" name="google">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i&amp;subset=cyrillic" rel="stylesheet">
  <title>Главная</title>
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      if (window.isMobile !== undefined) {
        // console.log(isMobile);
        if (isMobile.any) {
          var rootClasses = ' is-mobile';
          for (key in isMobile) {
            if (typeof isMobile[key] === 'boolean' && isMobile[key] && key !== 'any') rootClasses += ' is-mobile--' + key;
            if (typeof isMobile[key] === 'object' && key !== 'other') {
              for (type in isMobile[key]) {
                if (isMobile[key][type]) rootClasses += ' is-mobile--' + key + '-' + type;
              }
            }
          }
          document.documentElement.className += rootClasses;
        }
      } else {
        console.log('Классы для мобильных не добавлены: в сборке отсутствует isMobile.js');
      }
    });
  </script>
  <link rel="stylesheet" type="text/css" href="blocks/page/page.css">
  <link rel="stylesheet" type="text/css" href="blocks/typo/typo.css">
  <link rel="stylesheet" type="text/css" href="blocks/page-header/page-header.css">
  <link rel="stylesheet" type="text/css" href="blocks/page-header/page-header--sticky.css">
  <link rel="stylesheet" type="text/css" href="blocks/page-header/page-header--dark.css">
  <link rel="stylesheet" type="text/css" href="blocks/page-footer/page-footer.css">
  <link rel="stylesheet" type="text/css" href="blocks/page-footer/page-footer-menu.css">
  <link rel="stylesheet" type="text/css" href="blocks/page-footer/page-footer-footer.css">
  <link rel="stylesheet" type="text/css" href="blocks/logo/logo.css">
  <link rel="stylesheet" type="text/css" href="blocks/main-nav/main-nav.css">
  <link rel="stylesheet" type="text/css" href="blocks/close/close.css">
  <link rel="stylesheet" type="text/css" href="blocks/burger/burger.css">
  <link rel="stylesheet" type="text/css" href="blocks/code/code.css">
  <link rel="stylesheet" type="text/css" href="blocks/thumb/thumb.css">
  <link rel="stylesheet" type="text/css" href="blocks/alert/alert.css">
  <link rel="stylesheet" type="text/css" href="blocks/menu/menu.css">
  <link rel="stylesheet" type="text/css" href="blocks/label/label.css">
  <link rel="stylesheet" type="text/css" href="blocks/loader/loader.css">
  <link rel="stylesheet" type="text/css" href="blocks/table/table.css">
  <link rel="stylesheet" type="text/css" href="blocks/table-responsive/table-responsive.css">
  <link rel="stylesheet" type="text/css" href="blocks/pagination/pagination.css">
  <link rel="stylesheet" type="text/css" href="blocks/breadcrumbs/breadcrumbs.css">
  <link rel="stylesheet" type="text/css" href="blocks/breadcrumbs/breadcrumbs--dark.css">
  <link rel="stylesheet" type="text/css" href="blocks/progress/progress.css">
  <link rel="stylesheet" type="text/css" href="blocks/pie-chart/pie-chart.css">
  <link rel="stylesheet" type="text/css" href="blocks/embed-responsive/embed-responsive.css">
  <link rel="stylesheet" type="text/css" href="blocks/comment/comment.css">
  <link rel="stylesheet" type="text/css" href="blocks/tooltip/tooltip.css">
  <link rel="stylesheet" type="text/css" href="blocks/btn/btn.css">
  <link rel="stylesheet" type="text/css" href="blocks/field-text/field-text.css">
  <link rel="stylesheet" type="text/css" href="blocks/field-text/field-text--error.css">
  <link rel="stylesheet" type="text/css" href="blocks/field-checkbox/field-checkbox.css">
  <link rel="stylesheet" type="text/css" href="blocks/field-checkbox/field-checkbox__input-wrap--error.css">
  <link rel="stylesheet" type="text/css" href="blocks/field-radio/field-radio.css">
  <link rel="stylesheet" type="text/css" href="blocks/field-radio/field-radio__input-wrap--error.css">
  <link rel="stylesheet" type="text/css" href="blocks/field-toggler/field-toggler.css">
  <link rel="stylesheet" type="text/css" href="blocks/field-file/field-file.css">
  <link rel="stylesheet" type="text/css" href="blocks/field-file/field-file--error.css">
  <link rel="stylesheet" type="text/css" href="blocks/field-range/field-range.css">
  <link rel="stylesheet" type="text/css" href="blocks/field-select/field-select.css">
  <link rel="stylesheet" type="text/css" href="blocks/field-select/field-select--error.css">
  <link rel="stylesheet" type="text/css" href="blocks/field-actions/field-actions.css">
  <link rel="stylesheet" type="text/css" href="blocks/fields-group/fields-group.css">
  <link rel="stylesheet" type="text/css" href="blocks/form/form.css">
  <link rel="stylesheet" type="text/css" href="blocks/is-mobile/is-mobile.css">
  <link rel="stylesheet" type="text/css" href="blocks/scroll-link/scroll-link.css">
  <link rel="stylesheet" type="text/css" href="blocks/to-top/to-top.css">
  <link rel="stylesheet" type="text/css" href="blocks/dropdown/dropdown.css">
  <link rel="stylesheet" type="text/css" href="blocks/owl-carousel/owl-carousel.css">
  <link rel="stylesheet" type="text/css" href="blocks/swipe/swipe.css">
  <link rel="stylesheet" type="text/css" href="blocks/nouislider/nouislider.css">
  <link rel="stylesheet" type="text/css" href="blocks/off-canvas/off-canvas.css">
  <link rel="stylesheet" type="text/css" href="blocks/modal/modal.css">
  <link rel="stylesheet" type="text/css" href="blocks/tabs/tabs.css">
  <link rel="stylesheet" type="text/css" href="blocks/object-fit-polyfill/object-fit-polyfill.css">
  <link rel="stylesheet" type="text/css" href="blocks/or/or.css">
  <link rel="stylesheet" type="text/css" href="blocks/inputlabel/inputlabel.css">
  <link rel="stylesheet" type="text/css" href="blocks/inputlabel/inputlabel--big.css">
  <link rel="stylesheet" type="text/css" href="blocks/inputlabel/inputlabel--opacity.css">
  <link rel="stylesheet" type="text/css" href="blocks/inputlabel/inputlabel--dark.css">
  <link rel="stylesheet" type="text/css" href="blocks/inputlabel/inputlabel--padding.css">
  <link rel="stylesheet" type="text/css" href="blocks/inputlabel/inputlabel--empty.css">
  <link rel="stylesheet" type="text/css" href="blocks/input/input.css">
  <link rel="stylesheet" type="text/css" href="blocks/input/input--big.css">
  <link rel="stylesheet" type="text/css" href="blocks/fs/fs.css">
  <link rel="stylesheet" type="text/css" href="blocks/fs/fs-footer.css">
  <link rel="stylesheet" type="text/css" href="blocks/fs/fs-service.css">
  <link rel="stylesheet" type="text/css" href="blocks/beautifulbutton/beautifulbutton.css">
  <link rel="stylesheet" type="text/css" href="blocks/feature/feature.css">
  <link rel="stylesheet" type="text/css" href="blocks/features/features.css">
  <link rel="stylesheet" type="text/css" href="blocks/features/features--decor.css">
  <link rel="stylesheet" type="text/css" href="blocks/callus/callus.css">
  <link rel="stylesheet" type="text/css" href="blocks/hat/hat.css">
  <link rel="stylesheet" type="text/css" href="blocks/chupa/chupa.css">
  <link rel="stylesheet" type="text/css" href="blocks/attention/attention.css">
  <link rel="stylesheet" type="text/css" href="blocks/services/services.css">
  <link rel="stylesheet" type="text/css" href="blocks/services/services-more.css">
  <link rel="stylesheet" type="text/css" href="blocks/services/services-title.css">
  <link rel="stylesheet" type="text/css" href="blocks/services/services-all.css">
  <link rel="stylesheet" type="text/css" href="blocks/service/service.css">
  <link rel="stylesheet" type="text/css" href="blocks/service/service-more.css">
  <link rel="stylesheet" type="text/css" href="blocks/clinic/clinic.css">
  <link rel="stylesheet" type="text/css" href="blocks/clinic/clinic-flat.css">
  <link rel="stylesheet" type="text/css" href="blocks/btx/btx.css">
  <link rel="stylesheet" type="text/css" href="blocks/cosmeticproducts/cosmeticproducts.css">
  <link rel="stylesheet" type="text/css" href="blocks/mediagalery/mediagalery.css">
  <link rel="stylesheet" type="text/css" href="blocks/mediagalery/mediagalery-all.css">
  <link rel="stylesheet" type="text/css" href="blocks/license/license.css">
  <link rel="stylesheet" type="text/css" href="blocks/license/license-all.css">
  <link rel="stylesheet" type="text/css" href="blocks/seo/seo.css">
  <link rel="stylesheet" type="text/css" href="blocks/contacts/contacts.css">
  <link rel="stylesheet" type="text/css" href="blocks/contacts/contacts-content.css">
  <link rel="stylesheet" type="text/css" href="blocks/professionals/professionals.css">
  <link rel="stylesheet" type="text/css" href="blocks/professionals/professionals-item.css">
  <link rel="stylesheet" type="text/css" href="blocks/waityou/waityou.css">
  <link rel="stylesheet" type="text/css" href="blocks/reviews/reviews.css">
  <link rel="stylesheet" type="text/css" href="blocks/pg-service/pg-service.css">
  <link rel="stylesheet" type="text/css" href="blocks/article/article.css">
  <link rel="stylesheet" type="text/css" href="blocks/prices/prices.css">
  <link rel="stylesheet" type="text/css" href="blocks/prices/prices-list.css">
  <link rel="stylesheet" type="text/css" href="blocks/online/online.css">
  <link rel="stylesheet" type="text/css" href="blocks/online/online--inmodal.css">
  <link rel="stylesheet" type="text/css" href="blocks/servicemenu/servicemenu.css">
  <link rel="stylesheet" type="text/css" href="blocks/pg-services/pg-services.css">
  <link rel="stylesheet" type="text/css" href="blocks/serviceslist/serviceslist.css">
  <link rel="stylesheet" type="text/css" href="blocks/serviceslist/serviceslist-item.css">
  <link rel="stylesheet" type="text/css" href="blocks/modals/modals.css">
  <link rel="stylesheet" type="text/css" href="blocks/owl-carousel/owl.theme.default.css">
  <link rel="stylesheet" type="text/css" href="blocks/owl-carousel/owl.theme.reviews.css">
  <link rel="stylesheet" type="text/css" href="blocks/owl-carousel/owl.theme.full.css">
  <link rel="stylesheet" type="text/css" href="css/print.css">
  <link rel="stylesheet" type="text/css" href="css/icomoon.css">
  <link rel="stylesheet" type="text/css" href="css/fonts.css">
  <link rel="stylesheet" type="text/css" href="css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/demo.css">
  <link rel="stylesheet" type="text/css" href="css/lightbox.css">
  <link rel="stylesheet" type="text/css" href="css/perfect-scrollbar.css">
  <link rel="stylesheet" type="text/css" href="js/www/assets/styles/scrolleffected.css">
  <link rel="stylesheet" type="text/css" href="css/font-euclid.css">
  <link rel="stylesheet" type="text/css" href="css/perfetto.min.css">
</head>

<body>
  <div class="modal  modal--dark" id="mainmenu" tabindex="-1" role="dialog">
    <div class="modal__dialog" role="document">
      <div class="modal__header">
        <div class="center"><span class="close modal__close" data-dismiss="modal" aria-label="Закрыть"><span></span></span>
        </div>
      </div>
      <div class="modal__content">
        <div class="modal__body">
          <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="#">Услуги</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Клиника</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Галерея</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Спецпредложения</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Новости</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="entry" tabindex="-1" role="dialog">
    <div class="modal__dialog" role="document">
      <div class="modal__header">
        <div class="center"><span class="close modal__close" data-dismiss="modal" aria-label="Закрыть"><span></span></span>
        </div>
      </div>
      <div class="modal__content">
        <div class="modal__body">
          <div class="online  online--inmodal">
            <div class="center">
              <div class="online__title">Запишитесь онлайн на прием в клинику Sensation Краснодар</div>
              <div class="online__description">и получите услугу по сниженной цене со скидкой 10%</div>
              <div class="online__body">
                <div class="online__form">
                  <form action="#">
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form__group">
                          <div class="inputlabel  inputlabel--big"><label><span class="inputlabel__placeholder-before">КАК ВАС ЗОВУТ?</span><input class="input inputlabel__field  input--big"><span class="inputlabel__placeholder-after">КАК ВАС ЗОВУТ?</span></label></div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form__group">
                          <div class="inputlabel  inputlabel--big"><label><span class="inputlabel__placeholder-before">ВАШ ТЕЛЕФОН</span><input class="input inputlabel__field  input--big"><span class="inputlabel__placeholder-after">ВАШ ТЕЛЕФОН</span></label></div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form__group">
                          <div class="inputlabel  inputlabel--big"><label><span class="inputlabel__placeholder-before">КОГДА ВАМ УДОБНО ПОСЕТИТЬ КЛИНИКУ?</span><input class="input inputlabel__field  input--big"><span class="inputlabel__placeholder-after">КОГДА ВАМ УДОБНО ПОСЕТИТЬ КЛИНИКУ?</span></label></div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="online__btn"><button class="btx  btx--middlearrow"><div class="btx__box"><div class="btx__label">Записаться</div><div class="btx__row"><span class="icon-row"></span></div></div></button></div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main id="js-scroll">
    <div class="center">
      <!-- H1-->
      <h6 class="thistitle">h111</h6>
      <h1>Sensation Spa</h1>
      <h1>Нехирургический
        <br>RF лифтинг</h1>
      <hr>
      <!-- H2-->
      <h6 class="thistitle">h2</h6>
      <h2>Все наше внимание <br>посвящено вам</h2>
      <hr>
      <!-- H5-->
      <h6 class="thistitle">h5</h6>
      <h5>Услуги специалистов</h5>
      <hr>
      <!-- H6-->
      <h6 class="thistitle">h6</h6>
      <h6 class="transform-uppercase">Два в одном: нехирургический RF <br>лифтинг и активация мышц</h6>
      <hr>
      <!-- ЗАГОЛОВОК + АБЗАЦ-->
      <h6 class="thistitle">h6 + p</h6>
      <h6 class="transform-uppercase">Два в одном: нехирургический RF лифтинг и активация мышц</h6>
      <p>Аппарат Maximus объединяет электродинамическую активизацию мышц (DMA) и радиочастотную подтяжку кожи (TriPollar) лица и тела. Как лицо, так и тело под воздействием системы Maximus претерпевают массу положительных изменений. Жировая ткань и дерма разогреваются, подвергаясь липолитическому воздействию. Мышцы тела начинают активно волнообразно сокращаться.</p>
      <hr>
      <!-- ПРИМЕЧАНИЯ-->
      <h6 class="thistitle">.NOTE</h6>
      <p class="note">Любой женщине <br>важно поддерживать <br>ногти в идеальном виде</p>
      <h6 class="thistitle">.NOTE2</h6>
      <p class="note2">Каждая женщина мечтает нравиться <br>в первую очередь самой себе. Мы помогаем осуществить <br>это желание</p>
      <h6 class="thistitle">.NOTE3</h6>
      <p class="note3">Наш центр косметологии <br>предлагает максимум для вашего <br>комфорта и отличного <br>настроения</p>
      <hr>
      <h6 class="thistitle">.LIST</h6>
      <ul class="list">
        <li>фракционная терапия, криотерапия, дермальное ремоделирование, криомоделирование, лифтинг, микротоковая терапия, эндермология, биостимуляция и др;</li>
        <li>окрашивание, стрижки и укладки волос, биологические завивки и прически;</li>
        <li>уходы за лицом (косметологические услуги), чистка лица и массажи, эпиляция воском;</li>
        <li>безинъекционная биоревитализация, удаление рубцов и растяжек, работа с постакне, устранение морщин разной сложности;</li>
        <li>хамам, флоатинг, тaлассотерапия, уход по телу, массаж;</li>
        <li>аппаратный маникюр и педикюр, СПА маникюр.</li>
      </ul>
    </div>
  </main>
  <script src="js/script.min.js"></script>
  <script src="js/global-script.js"></script>
  <script src="js/www/assets/scripts/app.js"></script>
  <script>
    Perfetto.init({
      0: 'typo1',
      //- 768:   'i-2',
      //- 1024: 'i-3',
      //- 1280: 'service-4'
      //- 1280: 'i-4'
    })
  </script>
  <style>
    .thistitle {
      font-size: 20px;
      color: #47C5CE;
      text-transform: uppercase
    }

    .center {
      max-width: 1400px;
      margin: 0 auto;
    }

  </style>
</body>

</html>
